@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<h2>Welcome Claire!  Manage your salon here!</h2>
<br>
<div id="footer">
  <p>
    @Html.ActionLink("See all Stylists", "Index", "Stylists") | 
    @Html.ActionLink("See all Clients", "Index", "Clients")
    </p>
</div>
