@{
  Layout = "_Layout";
}

<h1>Eau Claire's Salon</h1>
<h2>Welcome Claire!  Manage your salon here!</h2>
<br>
<p>@Html.ActionLink("See all Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all Clients", "Index", "Clients")</p>